<ion-list>
  <ion-list-header>
    Settings
  </ion-list-header>
  <ion-item>
    <ion-icon name="plane" item-start color="danger"></ion-icon>
    <ion-label>Airplane Mode</ion-label>
    <ion-toggle color="secondary"></ion-toggle>
  </ion-item>
  <button ion-item>
    <ion-icon name="wifi" item-start color="primary"></ion-icon>
    <ion-label>Wi-Fi</ion-label>
    <ion-note item-end>The Interwebz</ion-note>
  </button>
  <button ion-item>
    <ion-icon name="bluetooth" item-start color="primary"></ion-icon>
    <ion-label>Bluetooth</ion-label>
    <ion-note item-end>Off</ion-note>
  </button>
  <button ion-item>
    <ion-icon name="call" item-start color="secondary"></ion-icon>
    <ion-label>Cellular</ion-label>
  </button>
  <button ion-item>
    <ion-icon name="link" item-start color="secondary"></ion-icon>
    <ion-label>Personal Hotspot</ion-label>
    <ion-note item-end>Off</ion-note>
  </button>
</ion-list>
