<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <connection-status-indicator></connection-status-indicator>
    </ion-buttons>
    <ion-title *ngIf="viewMode=='chantiers'">{{'COMMON.MENU_SITES' | translate}}</ion-title>
    <ion-title *ngIf="viewMode=='photos'">{{'COMMON.MENU_PHOTOS' | translate}}</ion-title>
    <ion-title *ngIf="viewMode=='qrcode'">{{'COMMON.MENU_SCANNER' | translate}}</ion-title>
    <ion-title *ngIf="viewMode=='map'">{{'COMMON.MENU_LOCATION' | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar class="search-filter-block" *ngIf="(viewMode=='chantiers')">
    <ion-searchbar placeholder="{{'COMMON.SEARCH' | translate}}" [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" *ngIf="!isSearchByFilter"></ion-searchbar>
    <ion-item *ngIf="isSearchByFilter">
      <span>List is filtered by {{selectedFilter}}</span>
      <button ion-button icon-only clear item-end (click)="removeFilter()">
        <ion-icon name="md-remove-circle"></ion-icon>
      </button>
    </ion-item>

    <ion-buttons right *ngIf="viewMode=='chantiers'">
      <button ion-button icon-only>
        <ion-icon name="md-options" color="dark"></ion-icon>
      </button>

    </ion-buttons>
    <select #selectElem class="select-old-style" (change)="filterBy(selectElem.value)">
      <option value="0" selected hidden disabled></option>
      <option value="volvo" value="1">{{ 'SITES.FILTER_BY_ALL' | translate }}</option>
      <option value="saab" value="2">{{ 'SITES.FILTER_BY_MINE' | translate }}</option>
      <option value="mercedes" value="3">{{ 'SITES.FILTER_BY_UO' | translate }}</option>
    </select>

    <!-- <ion-select #filterSelector [(ngModel)]="selectedFilter" [hidden]="true" interface="action-sheet">
      <ion-option value="1" (ionSelect)="filterBy(1)">Tous les chantiers</ion-option>
      <ion-option value="2" (ionSelect)="filterBy(2)">Mes chantiers</ion-option>
      <ion-option value="3" (ionSelect)=filterBy(3)>Les chantiers de mon UO</ion-option>
    </ion-select> -->
  </ion-toolbar>
  <ion-grid class="button-group">
    <ion-row>
      <ion-col>
        <button ion-button icon-only color="light" [ngClass]="{'selected' : listMode == 'cardList'}" (click)="listMode = 'cardList'">
          <ion-icon name="list"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-only color="light" [ngClass]="{'selected' : listMode == 'masonryList'}" (click)="listMode = 'masonryList'">
          <ion-icon name="md-apps"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-toolbar class="no-background">
    
    <ion-segment [(ngModel)]="listMode" color="danger" *ngIf="viewMode=='chantiers'">
      <ion-segment-button value="cardList">
          <button ion-button icon-only (click)="showFilter($event)">
              <ion-icon name="list"></ion-icon>
            </button>
        
      </ion-segment-button>
      <ion-segment-button value="masonryList">
          <button ion-button icon-only (click)="showFilter($event)">
              <ion-icon name="md-apps"></ion-icon>
            </button>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content [hidden]="viewMode !='map'" class="list">
  <!-- <div #map style="width:100%;height:100%;" id="map"></div> -->
  <map-component #mapComponent></map-component>
</ion-content>
<ion-content [hidden]="viewMode !='chantiers'" class="list">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <card-list *ngIf="listMode==='cardList'" [items]="properties"></card-list>
  <masonry-list *ngIf="listMode==='masonryList'" [items]="posts"></masonry-list>
  <option-list *ngIf="listMode==='optionList'"></option-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-content [hidden]="viewMode !='photos'">
  <media-component (imgData)="onImageSelected($event)"></media-component>
  <img *ngIf="imgData" [src]="imgData" alt="Image" />
</ion-content>
<ion-content [hidden]="viewMode !='qrcode'">
  <qr-component (scanData)="onScanned($event)"></qr-component>
  <p *ngIf="scanData">{{scanData}}</p>
</ion-content>


<ion-footer padding>
  <ion-segment [(ngModel)]="viewMode">
    <ion-segment-button value="chantiers">
      <ion-icon name="list"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="photos">
      <ion-icon name="md-camera"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="qrcode">
      <ion-icon name="md-qr-scanner"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map" (ionSelect)="initMap()">
      <ion-icon name="md-map"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
