.searchbar-input {
  box-shadow: none !important;
}

ion-footer {
  padding: 8px 16px !important;
}

.search-filter-block {
  .toolbar-background {
    background-color: white;
    
  }
  .searchbar-md, .searchbar {
    &.searchbar-input, .searchbar-input-container {
      background-color: transparent !important;
    }
  } 

  input {
    background-color: transparent !important;
  }
}

.no-background {
  background-color: transparent;
  .toolbar-background, toolbar-background-md {
    background-color: transparent;
  }
}

page-list {
  .header-md {
    &::after {
      background-image: none;
    }
  }
  .button-group {
    button {
      padding-left: 10px !important;
      padding-right: 10px !important;

      &.selected {
        background-color: map-get($map: $colors, $key: primary);
        color: white;
      }
    }
    .button-ios-light, .button-md-light {
      background-color: white;
      border: 1px solid;
      border-color: map-get($map: $colors, $key: primary);
    }
  }

  .select-old-style {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    z-index: 999;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: transparent;
    width: 35px;
    border: none;
  }
}