card-item {
    .item-wrapper {
        h2 {
            word-wrap: break-word;
            white-space: normal;
        }
    }

    ion-icon {
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 0 !important;
        font-size: 1.8em;
    }
}
