<ion-menu [content]="content">
  <ion-content>
    <ion-grid class="text-centered">
      <ion-row center>
        <ion-col>
          <img src="assets/img/logo.png" class="menu-logo" />
        </ion-col>
      </ion-row>
      <ion-row center>
        <ion-col>
          <h3 no-padding no-margin>Username</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let menuItem of internalMenuItems" (click)="openPage(menuItem)" [class.active-menu]="getActiveMenu(menuItem)" detail-none>
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
        <ion-badge item-end>10+</ion-badge>
      </button>
    </ion-list>
    <div class="separator-line"></div>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let menuItem of functionMenuItems" (click)="openPage(menuItem)" [class.active-menu]="getActiveMenu(menuItem)" detail-none>
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>
    <div class="separator-line"></div>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let menuItem of otherMenuItems" (click)="openPage(menuItem)" [class.active-menu]="getActiveMenu(menuItem)" detail-none>
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>
    <div class="separator-line"></div>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let menuItem of accountMenuItems" (click)="logout()" detail-none>
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<!-- <connection-status-bar></connection-status-bar> -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false">

</ion-nav>
