<ion-header>
  <ion-navbar>
    <ion-title>Chantier {{property.title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="isEditMode" (click)="saveDetail()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="isEditMode" (click)="discardChange()">
        <ion-icon name="md-close"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="!isEditMode" (click)="editDetail()">
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="!isEditMode" (click)="presentActionSheet()">
        <ion-icon name="ios-share-outline"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="!isEditMode" (click)="deleteItem()">
        <ion-icon name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="property.id">
    <img src="{{property.picture}}" />
    <ion-card-content>
      <h2 class="card-title">{{property.title}}</h2>
      <p>{{property.address}}, {{property.city}} {{property.state}}</p>
    </ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon item-left name="ios-funnel"></ion-icon>
        <h3>Zones</h3>
        <ion-note item-right>{{property.zones}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="ios-funnel-outline"></ion-icon>
        <h3>Levels</h3>
        <ion-note item-right>{{property.levels}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="md-funnel"></ion-icon>
        <h3>Posts</h3>
        <ion-note item-right>{{property.posts}}</ion-note>
      </ion-item>
      <button ion-item>
        <ion-avatar item-left>
          <img src="{{property.manager.picture}}" />
        </ion-avatar>
        <h2>{{property.manager.name}}</h2>
        <p>{{property.manager.title}}</p>
      </button>
    </ion-list>
  </ion-card>
  <ion-card>
    <form class="form" [formGroup]="validations_form">
      <ion-item>
        <ion-label floating color="primary">Username</ion-label>
        <ion-input type="text" formControlName="username" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.username">
          <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email" (ngModelChange)='logError()'></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label color="primary">Start Time</ion-label>
        <ion-datetime pickerFormat="MMM DD YYYY" formControlName="datetime"></ion-datetime>
      </ion-item>
    </form>
  </ion-card>
  <ion-card>
    <ion-list no-border>
      <ion-list-header>
        General
      </ion-list-header>
      <ion-item>
        <ion-icon item-left name="md-globe"></ion-icon>
        <ion-label>Language</ion-label>
        <ion-select [(ngModel)]="language">
          <ion-option *ngFor="let language of languages" [value]="language">{{language}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon item-left name="md-notifications"></ion-icon>
        <ion-label class="label"> Enable notifications </ion-label>
        <ion-toggle [(ngModel)]="enableNotifications" (click)="toggleNotifications()"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
